.app-page
  padding 1.5em 0

  @media pageWithAppNavigationMinWidthQuery
    padding-top 8em

  > *:first-child, > ui-view > *:first-child
    margin-top 0

  > *:last-child, > ui-view > *:last-child
    margin-bottom 0
