selectionColor = #b4d5fe

brandPink = #e90f92
brandPinkDarkened = darken(brandPink, 18%)

subtlePink = #fcf5fd

logoPurple = brandPinkDarkened
logoBlue = #3b1cce

gray = #e0e0e0
darkGray = #707070
lightGray = #f3f3f3
lighterGray = #fafafa
lightLineGray = #cacaca
lighterLineGray = gray
subtleText = #888

successBackgroundColor = #bbf0c7
successColor = #278541

infoBackgroundColor = #ddedff
infoColor = #303786

errorRed = #c62838

primaryButtonColor = logoPurple
primaryButtonColorDarkened = darken(primaryButtonColor, 18%)
secondaryButtonColor = #466ebe
secondaryButtonColorDarkened = darken(secondaryButtonColor, 18%)
tertiaryButtonColor = #767c88
tertiaryButtonColorDarkened = darken(tertiaryButtonColor, 18%)
