serifFonts = "freight-text-pro", sans-serif
sansSerifFonts = "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
monospaceFonts = Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
