@import media-query-variables
@import sizes

fullWidthAppPage()
  @media pageWithAppNavigationMinWidthQuery
    body
      height 100%

    .centered-page.with-app-navigation
      height 100%
      width 100%
      padding-left appNavigationWidth - 1em
      padding-right 0

    .app-navigation
      width appNavigationWidth - 3em
      left 2em

    .global-messages
      left appNavigationWidth - (3em / 2)

    .app-page
      position relative
      min-height 100%
      padding 0

      &:before
        content ""
        z-index 5
        position absolute
        left 0
        top 0
        bottom 0
        width .0625em
        background rgba(#000, .15)
        pointer-events none
