@import nib

@import colors
@import fonts
@import "font-smoothing"
@import media-query-variables

.marketing-page-header
  antialiasedFonts()
  font-family serifFonts
  margin-top 8em
  margin-bottom 6em
  text-align center

  h1
    height 0
    width 0
    margin 0
    color transparent

  .logo
    margin-bottom 3em

    @media mobileMaxWidthQuery
      font-size 12px

  h2
    font-weight normal
    font-size 2em
    margin-bottom 1.5em

    @media mobileMaxWidthQuery
      font-size 1.7em
      padding 0 1em
