@import nib

.welcome-message
  position absolute
  background #fff
  background-color rgba(255, 255, 255, .975)
  border-radius .1875em
  box-shadow 0 0 0 1px rgba(0, 0, 0, .2)
  padding 1em

  .welcome-message-content
    > *:first-child
      margin-top 0

    > *:last-child
      margin-bottom 0

  .welcome-message-actions
    padding-top 1em
