@import nib

wordpress-logo
  display inline-block
  vertical-align middle
  max-width 100%

  svg.wordpress-logo
    box-shadow inset 0 0 0 .0625em #fff
    border-radius 50%

    path
      fill #fff
      display block
      height 100%
      width 100%
